*{
    margin:0;
    padding:0;
    border:0;
}
.menu-sup{
    position: relative;
    width: 102%;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #525252;
    border-radius: 0px 0px 20px 20px;
}
.logo{
    position: absolute;
    width: 500px;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(logo.png);
    background-size: 100%;
}
.menu-sanduiche{
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 30px;
    top: 25px;
    
    background: url(cardapio.png);
    background-size: 65px;
}
#aba-lateral{
    display: none;
    position: absolute;
    width: 25rem;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #D9D9D9;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.options{
    display: block ;
    position: absolute;
    top: 10%;
}
.item-menu{
    width: 22rem;
    font-family: 'Lato-Medium';
    font-size: 22px;
    text-align: center;
    color: #000000;
    background-color: #E6E6E6;
    padding: 10px 10px 10px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer;
}
#win_cad_of{
    display: none;
}
.card {
    display: block;
    padding-top:5%;
    position: absolute;
    transform: 50%;
    translate: -50%;
    left: 50%;
    top: 30%;
    width: 80%;
    height: 500px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
        box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }
   
    .text-title {
        font-size: 1.5em;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif
   }
    p {
        font-weight: 400;
        position: absolute;
        transform: 50%;
        translate: -50%;
        left: 50%;
        top: 30%;
        font-size: 30px;
}
.card input{
    padding: 10px 20px;
    font-size: 24px;
    position: absolute;
    transform: 50%;
    translate: -50%;
    left: 50%;
    top: 40%;
    font-weight: bold;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.buttons{
    display: block;
    position: absolute;
    transform: 50%;
    translate: -50%;
    left: 50%;
    top: 50%;
    
    }
     .send_button, .close_button {
        padding: 20px 50px;
        margin: 15px;
        border-radius: 8px;
        border: none;
        background: #6b64f3;
        color: white;
        font-weight: 600;
        font-size: 20px;
    }



table {
    margin-top: 10rem; ;
    margin: 1rem;
    font-size: 28px;
    border-collapse: collapse;
    width: 50%;
    margin-top: 60px;
}

th, td {
    width: 4rem;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {

    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
@media (max-width: 980px){
    table {
        width: 100%;
        font-size: 32px;
        }
    .logo{
        width: 300px;
    }
    
}

@keyframes anim-menu {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0px);
        
    }

}

#menu-sanduiche-esqueda {
    animation: anim-menu 0.2s linear;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 330px;
}